@CHARSET "UTF-8";

body{
	width:100%;
	left:0;
}

.box1{
	width:90%;
	margin:0 auto;
	text-align:center;
}

li{
	height:250px;
}

a{
	text-decoration:none;
}

a:link { color: black;
}

a:visited { color: black;
}

.logo{
	width:90%;
	margin:0 auto;
	text-align:center;
	font-size:40px;
}

h3{
	text-align:center;
}

/*フッターブロック基本設定  */
.footer{
	clear:both;/*回り込みを解除  */
	margin-top:10px;/* 領域外スペース */
	line-height:75px;/* 行の高さ */
	height: 80xp;/*高さ */
	background-color:#0B243B ;/*背景色 */
	text-align:center;/* 文字中央寄せ */
	font-size: 17px;/* 文字の大きさ */
	color:white;/* 文字色 */
}

/* フッターリンク設定 */
.footer a{
	color:white;/* 文字色 */
	text-decoration:none; /* 下線ナシ */
}

/* フッターホバーアクション */
.footer a:hover{
    border-bottom: dotted 1px #fff;/* 下線部に白点線表示 */
    font-weight:bold;/* 文字の太さ */
}