@charset "UTF-8";

/* -----------------ヘッダー基本設定------------------- */

/* ヘッダー基本設定 */
.headermanu{
	color:white;/* 文字色 */
}

/* ul基本設定 */
.headermanu ul{
	list-style:none;/* 箇条書きの点ナシ */
}

/* li基本設定 */
.headermanu ul li{
	float:left;/* 左寄せ */
	display: inline-block;/* 横並び */
	width:;/*幅も指定できる*/
    height:;/*高さも指定できる*/
    vertical-align:;/*縦の表示位置も指定できる*/
    background:;/*背景*/
    font-weight:;/*文字の太さ*/
    color:; /*文字色*/
}


/* -----------------ヘッダー詳細設定------------------------- */


/* ロゴ画像ブロック設定 */
.leftbox{
    float:left;/* 左寄せ */
    height:100px;/*高さ */
    width:15%;/* 幅 */
    background-color: #0B243B;
}

/* 画像設定 */
img{
	width:80%;
	height:95px;
}

/* 検索・メニューブロック設定 */
.rightbox{
	float:left;/* 左寄せ */
    width:85%;/* 幅 */
	height:100px;/*高さ */
	background-color: #0B243B;/* 背景色 */
}

/* 検索ul */
.introduce{
	margin:8px;/* 領域外スペース */
}

/* プルダウンメニュー */
.select{
	height:25px;/*高さ */
}

/* キーワード入力欄 */
.search{
    width:400px;/* 幅 */
	height:20px;/*高さ */
}

/* input.submit_btn:{
	padding: 15px 40px;
    font-size: 1.5em;
    background-color: #000;
    color: #fff;
    border-style: none;
    clear:both;
} */

/* 検索ボタン+ホバーアクション */
input.submit_btn:hover{
	cursor: pointer; /* 指マークにする */
	opacity:0.5; /* 透過 */
}

/* 検索バー横の広告 */
.poster{
	color:white;/* 文字色 */
	text-decoration:none; /* 下線ナシ */
	margin-left:5em; /* 領域外スペース */
	margin-top:10px;
	letter-spacing:1.5px;/*文字の間隔*/
	font-size:14px;
}

/* 2017年最新家電 */
.year{
	font-size:18px;
}

/* 最新家電 */
.electric{
	color:#F7D358;/* 文字色 */
	font-weight:bold;/* 文字の太さ */
}

/* 検索バー横の広告+ホバーアクション */
.poster:hover{
    border-bottom: ridge 2px #fff;/* 下線部に白点線表示 */
}

/* メニューバー基本設定 */
.manuber{
	position:relative;
}

/* メニューバー左の挨拶 */
.greeting{
	clear:both;/*回り込みを解除  */
	margin-top:px; /* 領域外スペース */
	position: absolute;/* 絶対距離指定 */
	top:45px;/* 上からの距離 */
	left:10px;/* 左からの距離 */
	font-size:20px;/* 文字の大きさ */
	font-weight:bold;/* 文字の太さ */
	font-family:/* フォント */
						'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',
						 Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	letter-spacing:1.8px;/*文字の間隔*/
	color:#E0F2F7; /* 文字色 */
}

/* メニューバーul */
.manu_ul{
	position: absolute;/* 絶対距離指定 */
	top:35px;/* 上からの距離 */
	right:30px;/* 右からの距離 */
}

/* メニューブロック */
.manu_ul li a{
	color:white;/* 文字色 */
	text-decoration:none; /* 下線ナシ */
	padding:0.8em; /* 領域内スペース */
	margin:0.5em; /* 領域外スペース */
	/* background-color: #0B243B;背景色 */
}

/* メニュー+ホバーアクション */
.manu_ul li a:hover{
    color:#2E9AFE;/* 文字色変化 */
    background-color:#f0f8ff; /* 背景色変化 */
	font-weight:bold;/* 文字の太さ */
	font-family:/* フォント */
						'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
						Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}


