@CHARSET "UTF-8";

.outer{
  text-align:center;
}

.inner{
 display:inline-block;
 text-aling:left;
}

.textbox{
  padding:6px 18px;
  margin:2em 0;
  color:#2c2c2f;
  background:#cde4ff;
  border-top:solid 5px #5989cf;
  border-bottom:solid 5px #5989cf;
}
