@CHARSET "UTF-8";

body{
	text-align:center;
}

.main{
	width:80%;
	margin:0 auto;
}

table{
	width:80%;
	margin:0 auto;
	margin-top:30px;
	border-collapse:collapse;
	border:solid 2px #1EC7F1;
}

table td{
	padding:20px;
}

table th{
	background:#A5E9FA;
}